.row
  .col-xs-6.col-md-offset-3
    = simple_form_for task, html: { class: "form-horizontal" }, wrapper: :horizontal_form do |f|
      = f.input :name
      = f.input :description

      - if admin?
        = f.input :user_id, :collection => User.all, :label_method => :email, :value_method => :id, :include_blank => false
      - else
        = f.input :user_id, :as => :hidden, input_html: { value: current_user.id }

      .col-sm-9.col-md-offset-3
        - if task.file.present?
          - if task.file.image?
            .row-fluid
              .col-sm-4
                = image_tag task.file_url, class: "small-image"
              .col-sm-8
                = f.file_field :file, class: "upload-file"
          - else
            %b Прикрепленный файл:
            %span= task.file.get_filename
            = f.file_field :file, class: "upload-file"
        - else
          = f.file_field :file, class: "upload-file"

      = f.button :submit, class: "btn pull-right"