.row
  .col-xs-6
    %h1 Личный кабинет

  .create
    = link_to "Cоздать", new_task_path, class: "btn btn-success pull-right"
.row
  - @tasks.each do |task|
    .panel.panel-default
      .panel-heading
        %b= task.name
        .pull-right
          = link_to "Подробнее", user_task_path(task.user, task), class: "btn btn-info btn-xs"
          = link_to "Редактировать", edit_user_task_path(task.user, task), class: "btn btn-warning btn-xs"
          = link_to "Удалить", user_task_path(task.user, task), method: :delete, class: "btn btn-danger btn-xs"
      .panel-body
        %table.table.table-striped.table-hover.table-condensed
          %tbody
            %tr
              %th ID
              %td= task.id
            %tr
              %th Название
              %td= task.name
            %tr
              %th Описание
              %td= task.description
            %tr
              %th Статус
              %td
                %span#state
                  = task.state
                - unless task.Finished?
                  = link_to "Next ->", next_state_api_user_task_path(task.user, task), method: :put, remote: true, class: "btn btn-primary btn-xs pull-right next-state-js"
            %tr
              %th Создана
              %td= task.created_at
            - if admin?
              %tr
                %th Назначена
                %td= show_owner(task)
