.row
  .col-xs-6
    %h1 Личный кабинет

  .create
    = link_to "Cоздать", new_task_path, class: "btn btn-success pull-right"
.row
  - @tasks.each do |task|
    .panel.panel-default
      .panel-heading
        %b= task.name
        .pull-right
          = link_to "Подробнее", task_path(task), class: "btn btn-info btn-xs"
          = link_to "Редактировать", edit_task_path(task), class: "btn btn-warning btn-xs"
          = link_to "Удалить", task_path(task), method: :delete, class: "btn btn-danger btn-xs"
      .panel-body
        %table.table.table-striped.table-hover.table-condensed
          %tbody
            %tr
              %th ID
              %td= task.id
            %tr
              %th Название
              %td= task.name
            %tr
              %th Описание
              %td= task.description
            %tr
              %th Статус
              %td
                .btn-group{"data-toggle" => "buttons"}
                  - ['New', 'Started', 'Finished'].each_with_index do |state, index|
                    %label.btn.btn-primary.btn-xs.state-js{ class: task.state == state ? 'active' : '',
                                                            :'data-task-id' => task.id,
                                                            :'data-task-state' => state}
                      %input{name: "options", type: "radio", id: "option#{index+1}"}
                      = state
            %tr
              %th Создана
              %td= task.created_at
            - if admin?
              %tr
                %th Назначена
                %td= show_owner(task)
